---
import Picture from './Picture.astro'

const { url, cover, title, author, publishedDate } = Astro.props
---

<style>
  .article {
    display: grid;
    grid-template-columns: var(--homepage-cover-size) 1fr;
    gap: var(--size-2);
    align-items: center;

    & :global(picture, img) {
      border-radius: var(--radius-2);
      aspect-ratio: 4 / 3;
      background-color: var(--gray-2);
    }
  }

  .meta {
    font-size: 0.9em;
    color: var(--text-secondary);
    font-weight: 300;
  }
</style>

<article class="article">
  <a href={url} title={title}>
    <Picture src={cover} alt={title} />
  </a>

  <div class="flow" style="--flow-space: var(--size-2)">
    <a href={url} class="no-underline-link">
      <h4>{title}</h4>
    </a>
    <p class="meta">
      <time datetime={publishedDate}><x-datetime ts={publishedDate}></x-datetime></time>
      {' • '}
      <span class="author">@{author}</span>
    </p>
  </div>
</article>
