---
import { getCollection } from 'astro:content'

import Avatar from './Avatar.astro'

import { getPostsForHomepage, getNewsletters, groupPostsByYear, resizePostCover, getPrimaryTag } from '../lib'

import PostList from './post/PostList.astro'
import Newsletter from './newsletter/CallToAction.astro'
import TopPosts from './TopPosts.astro'
import LearnTypeScript from './LearnTypeScript.astro'

const resizeCover = (post) => resizePostCover(post, { width: 400, height: 300 })
const posts = getPostsForHomepage(await getCollection('bai-viet'))
---

<style>
  .posts {
    display: grid;
    gap: var(--size-3);
  }

  .article :global(code) {
    font-size: var(--code-font-size);
    background-color: var(--code-background);
    color: var(--code-color);
    font-weight: 600;
    padding-inline: var(--size-1);
    border-radius: var(--radius-1);
  }

  .title {
    font-weight: 700;
    font-size: var(--font-size-3);
  }

  .post {
    display: grid;
    grid-template-columns: 1fr 4rem;
    gap: 1ch;
  }

  .content {
    --flow-space: 0.5rem;
    border: var(--border-size-2) solid var(--gray-7);
    border-radius: var(--radius-3);
    padding: 1rem;
    background-color: #fff;
    line-height: 1.5;
  }

  .meta {
    color: var(--stone-8);
    font-size: 0.9rem;
    display: flex;
    gap: 1ch;
  }

  .published_at {
    margin-inline-start: auto;
  }

  .cover {
    border-radius: var(--radius-3);
    border: var(--border-size-2) solid var(--gray-7);
    aspect-ratio: 4 / 3;
  }

  .link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>

<div class="posts">
  {
    posts.map(({ data }, index) => {
      const { tag, variant } = getPrimaryTag(data.tags)

      return (
        <article class="post">
          <div class="flow content">
            <a href={data.url} class="link">
              <h2 class="title">{data.title}</h2>
            </a>

            {/* {index < 3 && <img class="cover" src={data.cover} alt="" width="1280" />} */}

            <p>{data.excerpt}</p>

            <address class="meta">
              <span>@kcjpop</span>
              <a href="#">#CSS</a>
              <time datetime="" class="published_at">
                {data.formattedDate}
              </time>
            </address>
          </div>

          <Avatar variant={variant}>{tag}</Avatar>
        </article>
      )
    })
  }
</div>
