---
import DateTime from './DateTime.astro'
import PostList from './PostList.astro'
import { getPostsForHomepage } from '../lib.js'

const { posts: all, newsletters } = getPostsForHomepage(
  await Astro.glob('../pages/bai-viet/*.md'),
  await Astro.glob('../pages/ban-tin/*.md'),
)

const top3 = all.slice(0, 3)
const posts = all.slice(3)
---

<style>
  .top {
    display: grid;
    gap: 16px;
    @media (--lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .newsletter {
    background-color: var(--gray-3);
    border-radius: 4px;
    padding: 16px;
    gap: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (--lg) {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
    }
  }

  .article {
    display: grid;
    gap: 16px;

    @media (--md) {
      grid-template-columns: 1fr 1fr;
    }

    @media (--lg) {
      grid-template-columns: 320px 320px;
    }

    @media (--lg) {
      &:nth-child(1) {
        grid-column-end: 1;
      }
      &:nth-child(2) {
        grid-row-start: 2;
      }
      &:nth-child(3) {
        grid-row-start: 3;
      }
    }
  }

  .btn-subscribe {
    background-color: var(--gray-9);
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 8px;
    &:hover {
      background-color: var(--gray-8);
    }
  }

  .newsletter-email {
    padding: 8px;
    border: 1px solid var(--gray-4);
    border-radius: 4px;
  }

  .buttondown-link {
    font-size: var(--font-size-0);
    text-decoration: none;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
</style>

<div class="mb-4">
  <div class="top">
    {
      top3.map(({ frontmatter, url }) => (
        <article class="article">
          <img class="post-list-single-cover" src={frontmatter.cover} alt={frontmatter.title} />
          <div class="flex flex-column gap-1">
            <h3>
              <a class="no-underline-link" href={url}>
                {frontmatter.title}
              </a>
            </h3>
            <p>{frontmatter.excerpt}</p>
            <p class="text-gray-6 text-sm">
              @{frontmatter.author} | <DateTime date={frontmatter.date} />
            </p>
          </div>
        </article>
      ))
    }

    <form
      action="https://buttondown.email/api/emails/embed-subscribe/ehkoo"
      method="post"
      target="popupwindow"
      class="newsletter">
      <h3>Bản tin Ehkoo</h3>
      <p>Cập nhật những tin tức mới nhất về lập trình frontend, mỗi thứ 7 hàng tuần.</p>

      <h4>Nghía qua thử 👀</h4>
      <ul>
        {
          newsletters.map(({ url, frontmatter }) => (
            <li>
              <a class="text-sm" href={url}>
                {frontmatter.title}
              </a>
            </li>
          ))
        }
      </ul>

      <h4>Đăng ký 👇</h4>

      <input type="email" name="email" placeholder="Nhập email của bạn" class="newsletter-email" />
      <input type="hidden" value="1" name="embed" />
      <input type="hidden" name="tag" value="WeeklyNewsletter" />
      <button class="btn-subscribe" type="submit">Nhận bản tin</button>

      <a href="https://buttondown.email" target="_blank" rel="noopener noreferrer" class="buttondown-link">
        Powered by Buttondown
      </a>
    </form>
  </div>
</div>

<div class="mb-2">
  <PostList posts={posts} />
</div>
<div class="text-center">
  <a href="/bai-viet">Tất cả bài viết</a>
</div>
