---
import { getPostsForHomepage } from '../lib.js'

import s from './PostList.module.css'
import hs from './Homepage.module.css'
import DateTime from './DateTime.astro'
import PostList from './PostList.astro'
import Newsletter from './Newsletter.astro'

const { posts: all, newsletters } = getPostsForHomepage(
  await Astro.glob('../pages/bai-viet/*.md'),
  await Astro.glob('../pages/ban-tin/*.md'),
)

const top3 = all.slice(0, 3)
const posts = all.slice(3)
---

<div class="grid gap-3 mb-2">
  <div class={hs.top}>
    {
      top3.map(({ frontmatter, url }) => (
        <article class={hs.article}>
          <a href={url}>
            <img class={s.cover} src={frontmatter.cover} alt={frontmatter.title} />
          </a>
          <div class="flex flex-column gap-1">
            <h3>
              <a class="no-underline-link" href={url}>
                {frontmatter.title}
              </a>
            </h3>
            <p>{frontmatter.excerpt}</p>
            <p class="text-gray-6 text-sm">
              @{frontmatter.author} | <DateTime date={frontmatter.date} />
            </p>
          </div>
        </article>
      ))
    }

    <Newsletter />
  </div>

  <PostList posts={newsletters} />

  <PostList posts={posts} />
</div>

<div class="text-center">
  <a href="/bai-viet">Tất cả bài viết</a>
</div>
