---
import { getPostsForHomepage } from '../lib.js'

import s from './PostList.module.css'
import DateTime from './DateTime.astro'
import PostList from './PostList.astro'
import Newsletter from './Newsletter.astro'

const { posts: all, newsletters } = getPostsForHomepage(
  await Astro.glob('../pages/bai-viet/*.md'),
  await Astro.glob('../pages/ban-tin/*.md'),
)

const top3 = all.slice(0, 3)
const posts = all.slice(3)
---

<style>
  .top {
    display: grid;
    gap: 16px;
    @media (--lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .article {
    display: grid;
    gap: 16px;

    @media (--md) {
      grid-template-columns: 1fr 1fr;
    }

    @media (--lg) {
      grid-template-columns: 320px 320px;
    }

    @media (--lg) {
      &:nth-child(1) {
        grid-column-end: 1;
      }
      &:nth-child(2) {
        grid-row-start: 2;
      }
      &:nth-child(3) {
        grid-row-start: 3;
      }
    }
  }
</style>

<div class="grid gap-3 mb-2">
  <div class="top">
    {
      top3.map(({ frontmatter, url }) => (
        <article class="article">
          <a href={url}>
            <img class={s.cover} src={frontmatter.cover} alt={frontmatter.title} />
          </a>
          <div class="flex flex-column gap-1">
            <h3>
              <a class="no-underline-link" href={url}>
                {frontmatter.title}
              </a>
            </h3>
            <p>{frontmatter.excerpt}</p>
            <p class="text-gray-6 text-sm">
              @{frontmatter.author} | <DateTime date={frontmatter.date} />
            </p>
          </div>
        </article>
      ))
    }

    <Newsletter />
  </div>

  <PostList posts={newsletters} />

  <PostList posts={posts} />
</div>

<div class="text-center">
  <a href="/bai-viet">Tất cả bài viết</a>
</div>
