---
import { getCollection } from 'astro:content'

import Article from './Article.astro'

const posts = await getCollection('typescript', (entry) => !entry.data.draft)
---

<style>
  :root {
    --ts-blue: #3178c6;
  }

  .posts {
    padding: var(--size-3);
    border: 0.25rem solid var(--ts-blue);
    gap: var(--size-3);
  }

  .article {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: var(--size-2);
  }

  .title {
    grid-column: 1 / 3;
  }
</style>

<div class="flow posts">
  <h2>Cùng học TypeScript 🥲</h2>

  <!-- <img
    class="mobile-cover"
    src="https://res.cloudinary.com/duqeezi8j/image/upload/c_scale,f_auto,w_900/v1691825147/63b6d8a08457f76328179bbe.jpg"
    alt="Cùng học TypeScript căn bản"
  /> -->

  {
    posts.map(({ data, slug }) => (
      <>
        <Article
          url={`/learn-typescript-together/${slug}`}
          cover={data.cover}
          title={data.title}
          author={data.author}
          publishedDate={data.date}
        />
      </>
    ))
  }
</div>
