---
import IconEhkoo from './IconEhkoo.astro'
import IconExternalLink from './IconExternalLink.astro'
import s from './Nav.module.css'

function isCurrentActive(path) {
  const p = Astro.url.pathname
  if (p !== '/' && path === '/') return false

  return p.includes(path)
}
---

<nav class={s.nav}>
  <div class="container">
    <div class:list={[s.links]}>
      <a href="/" title="Ê-ku">
        <IconEhkoo />
      </a>
      <a class={s.link} href="/gioi-thieu"> Giới Thiệu</a>
      <a class={s.link} href="/chu-de">Chủ Đề</a>
      <a class={s.link} href="/rss.xml">RSS</a>

      <details class={s.details}>
        <summary>Extra</summary>
        <div class={s.extraLinks}>
          <a class={s.link} href="https://github.com/ehkoo/web" target="_blank" rel="noreferrer nofollow">
            <IconExternalLink color="var(--gray-7)" /> Github
          </a>
          <a class={s.link} href="https://www.facebook.com/ehkoo.dev/" target="_blank" rel="noreferrer nofollow">
            <IconExternalLink color="var(--gray-7)" /> Fanpage
          </a>
          <a class={s.link} href="https://chat.webuild.community/" target="_blank" rel="noreferrer nofollow">
            <IconExternalLink color="var(--gray-7)" /> Chat
          </a>
          <a class={s.link} href="https://www.buymeacoffee.com/ehkoo" target="_blank" rel="noreferrer nofollow">
            <IconExternalLink color="var(--gray-7)" /> Buy me a coffee
          </a>
        </div>
      </details>
    </div>
  </div>
</nav>
