---
import PostMeta from './PostMeta.astro'
import PostNav from './post/PostNav.astro'
import FormNewsletter from './newsletter/Form.astro'

import s from './PostSingle.module.css'
import BuyMeACoffee from './BuyMeACoffee.astro'

const {
  headers,
  post: { title, isPage },
} = Astro.props
---

<style>
  .box {
    background-color: var(--surface-2);
    padding: var(--size-3);
    border-radius: var(--radius-2);
    border: 2px solid var(--text-primary);
  }
</style>

<article id="post" class:list={['flow', s.post]}>
  <h1 class={s.title}>{title}</h1>

  {
    !isPage && (
      <>
        <PostMeta post={Astro.props.post} />
        <PostNav headers={headers} />
      </>
    )
  }

  <div class={s.wrapper}>
    <div class="flow">
      <div class={s.content} id="js-content">
        <slot />
      </div>

      {
        !isPage && (
          <>
            <div class="flow box" id="js-newsletterbox">
              <h3>Bản tin Ehkoo hàng tuần 💌</h3>

              <p>
                Đăng ký ngay để nhận những tin và bài viết mới nhất về lập trình frontend, cũng như các thủ thuật hay
                thư viện mới…
              </p>

              <FormNewsletter>
                <input type="hidden" name="metadata__FormLocation" value="SinglePost" />
              </FormNewsletter>
            </div>

            <BuyMeACoffee />

            <script type="text/javascript">
              const a = document.getElementById('js-content'); const b = document.getElementById('js-newsletterbox');
              const c = a.childNodes[Math.round(a.childNodes.length / 2)]; a.insertBefore(b, c);
            </script>

            <div id="comments">
              <script
                is:inline
                src="https://utteranc.es/client.js"
                repo="ehkoo/web"
                issue-term="pathname"
                label="web-comments"
                theme="github-light"
                crossorigin="anonymous"
                async
              />
            </div>
          </>
        )
      }
    </div>
  </div>
</article>
