---
import DateTime from './DateTime.astro'
import s from './PostList.module.css'

const { posts } = Astro.props
---

<div class={s.list}>
  {
    posts.map(({ frontmatter, url }) => (
      <article class="grid gap-2 align-content-start">
        <a href={url}>
          <img class={s.cover} src={frontmatter.cover} alt={frontmatter.title} />
        </a>

        <h3>
          <a class:list={[s.title, 'text-lg no-underline-link']} href={url}>
            {frontmatter.title}
          </a>
        </h3>

        <p>{frontmatter.excerpt}</p>

        <p class="text-gray-6 text-sm">
          @{frontmatter.author} |
          <DateTime date={frontmatter.date} />
        </p>
      </article>
    ))
  }
</div>
