---
import DateTime from './DateTime.astro'
import TagLinks from './TagLinks.astro'
import IconExternalLink from './IconExternalLink.astro'

const {
  post: { readingTime, author, date, updated, tags },
} = Astro.props
---

<style>
  .meta {
    font-size: 0.9em;
    background-color: var(--surface-2);
    display: grid;

    gap: var(--size-3);
    grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
    justify-content: flex-end;
    padding: var(--size-3);
    border-radius: var(--radius-2);
  }
</style>

<div class="meta">
  <p>
    Viết bởi{' '}
    <a
      class="inline-flex align-center gap-1"
      href={`https://github.com/${author}`}
      target="_blank"
      rel="noreferrer nofollow">
      <strong>@{author}</strong>
      <IconExternalLink />
    </a>
  </p>

  <p>
    Đăng ngày
    <DateTime date={date} />
  </p>
  {
    updated && (
      <p>
        Cập nhật ngày
        <DateTime date={updated} />
      </p>
    )
  }

  <p>
    Dài <strong>{readingTime.words}</strong> từ. Đọc trong <strong>{Math.ceil(readingTime.minutes)}</strong> phút.
  </p>

  <TagLinks tags={tags} />
</div>
