---
import DateTime from '../DateTime.astro'
import s from './PostList.module.css'

const { posts } = Astro.props
---

<div class="flow">
  {
    posts.map(([year, ps]) => (
      <div class="flow">
        <div class={s.year}>{year}</div>
        <div class:list={[s.articles, 'flow']} style="--flow-space: 1.5em;">
          {ps.map(({ frontmatter, url }) => (
            <article class={s.article}>
              <DateTime className={s.date} date={frontmatter.date} />

              <a class:list={[s.title, 'no-underline-link']} href={url}>
                <h3>{frontmatter.title}</h3>
              </a>

              <p class={s.author}>@{frontmatter.author}</p>
            </article>
          ))}
        </div>
      </div>
    ))
  }
</div>
