---
import Article from '../Article.astro'

const { posts } = Astro.props
---

<style>
  .group-name {
    background-color: var(--surface-2);
    font-weight: 700;
    position: sticky;
    top: 0;
    border-radius: var(--radius-2);
    color: var(--text-primary);
    padding: var(--size-2) var(--size-3);
    text-transform: capitalize;

    @media (--lg) {
      margin-inline: calc(var(--size-3) * -1);
    }
  }
</style>

<div class="flow">
  {
    posts.map(([groupName, ps]) => (
      <div class="flow">
        <div class="group-name">{groupName}</div>
        <div class="flow" style="--flow-space: 1.5em;">
          {ps.map(({ frontmatter, url }) => (
            <Article
              {url}
              cover={frontmatter.cover}
              title={frontmatter.title}
              author={frontmatter.author}
              publishedDate={frontmatter.date}
            />
          ))}
        </div>
      </div>
    ))
  }
</div>
