---
import DateTime from '../DateTime.astro'
import s from './PostList.module.css'

const { posts } = Astro.props
---

<div class="flow">
  {
    posts.map(([groupName, ps]) => (
      <div class="flow">
        <div class={s.groupName}>{groupName}</div>
        <div class:list={[s.articles, 'flow']} style="--flow-space: 1.5em;">
          {ps.map(({ frontmatter, url }) => (
            <article class={s.article}>
              <a href={url}>
                <img
                  width="140"
                  class={s.cover}
                  src={frontmatter.cover.replace('f_auto', 'f_auto,w_200')}
                  alt={frontmatter.title}
                  loading="lazy"
                  decoding="async"
                />
              </a>

              <div class="flow" style="--flow-space: 0.5em;">
                <a class:list={[s.title, 'no-underline-link']} href={url}>
                  <h3>{frontmatter.title}</h3>
                </a>

                <p class={s.meta}>
                  <DateTime className={s.date} date={frontmatter.date} dateStyle="short" />
                  {' • '}
                  <span class={s.author}>@{frontmatter.author}</span>
                </p>
              </div>
            </article>
          ))}
        </div>
      </div>
    ))
  }
</div>
