---
import Base from './Base.astro'
import PostSingle from '../components/PostSingle.astro'
import Picture from '../components/Picture.astro'
import { transformImage } from '../lib'

const { content, headings, frontmatter } = Astro.props

const figure = frontmatter?.figure
const cover = figure?.src ?? frontmatter?.cover

const sources =
  cover != null
    ? [
        { media: '(width < 40em)', srcset: transformImage(cover, { c: 'scale', w: 960, h: null }) },
        { media: '(width < 64em)', srcset: transformImage(cover, { c: 'scale', w: 1200, h: null }) },
      ]
    : []

const fallbackCover = cover != null ? transformImage(cover, { c: 'scale', w: 1200, h: null }) : cover
---

<Base {content}>
  <style>
    .caption {
      font-style: italic;
    }
  </style>
  <PostSingle post={content} headers={headings}>
    {
      figure != null && fallbackCover != null && (
        <figure>
          <Picture {sources} src={fallbackCover} alt={figure.alt} />
          {figure.author && figure.credit ? (
            <figcaption class="caption">
              {figure.alt}. Nguồn ảnh: <a href={figure.author.url}>{figure.author.name}</a> @{' '}
              <a href={figure.credit.url}>{figure.credit.from}</a>
            </figcaption>
          ) : (
            <figcaption class="caption">{figure.alt}</figcaption>
          )}
        </figure>
      )
    }

    <slot />
  </PostSingle>
</Base>
